<div focus='{{tabindex}}'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()"  aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">注册</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <div class="alert alert-danger small" ng-show="!!errors.username">
                    {{errors.username}}
                </div>
                <input type="text" class="form-control" ng-model="data.username" tabindex="1"
                       placeholder="请输入昵称 2～15 字符 汉字 a~z A~Z 0-9">
            </div>
            <div class="form-group">
                <div class="alert alert-danger small" ng-show="!!errors.email">
                    {{errors.email}}
                </div>
                <input type="text" class="form-control" ng-model="data.email" tabindex="2" placeholder="请输入Email">
            </div>
            <div class="form-group">
                <div class="alert alert-danger small" ng-show="!!errors.password">
                    {{errors.password}}
                </div>
                <input type="password" class="form-control" ng-model="data.password" tabindex="3" placeholder="请输入密码">
            </div>
            <div class="form-group">
                <div class="alert alert-danger small" ng-show="!!errors.validat_num">
                    {{errors.validat_num}}
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="data.validat_num" tabindex="4"
                               placeholder="输入验证码，不区分大小写。">
                    </div>
                    <label class="col-sm-5 control-label"><img ng-src="/captcha?{{time}}"/>
                        <a href="#" ng-click="refreshNum()"><span class="glyphicon glyphicon-repeat"></span></a></label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">取消</button>
        <button type="button" tabindex="5" class="btn btn-primary" ng-click="reg()">注册</button>
    </div>
</div>